@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../../public/static/images/hero.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
      url("../../public/static/images/landing.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../../public/static/images/hero.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}

.wishes-box {
  background: linear-gradient(rgba(61, 61, 61, 0.827), rgba(71, 71, 71, 0.8)),
    url("../../public/static/images/berdua7.JPG");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}
.our-story-container {
  background: linear-gradient(rgba(14, 13, 13, 0.727), rgba(14, 13, 13, 0.7)),
    url("../../public/static/images/ourstory.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.thankyou-container {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/static/images/thankyou.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.livestream-container {
  background: linear-gradient(rgba(14, 13, 13, 0.727), rgba(14, 13, 13, 0.7)),
    url("../../public/static/images/thankyou.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slick-slide {
  padding: 0 15px;
}

.slick-list {
  margin: 0 2em;
}

.slick-initialized {
  overflow: hidden;
}

.divider {
  display: flex;
}
.divider:before,
.divider:after {
  content: "";
  flex: 1;
}
.razor:before,
.razor:after {
  height: 3px;
  box-shadow: 0 -5px 0 #d9cab3, 0 5px 0 #d9cab3;
  border-width: 0;
  margin: 0px 50px;
}
.line {
  align-items: center;
}
.line:before,
.line:after {
  height: 10px;
}
