@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../../public/static/images/hero.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  animation: 0.5s;
}

@media screen and (min-width: 600px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("../../public/static/images/berdua7.JPG");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    animation: 0.5s;
  }
}

.wishes-box {
  background: linear-gradient(rgba(0, 0, 0, 0.827), rgba(0, 0, 0, 0.8)),
    url("../../public/static/images/chat-bg.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}
.our-story-container {
  background: linear-gradient(rgba(14, 13, 13, 0.727), rgba(14, 13, 13, 0.7)),
    url("../../public/static/images/ourstory.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.livestream-container {
  background: linear-gradient(
      to right,
      rgba(223, 223, 223, 0.571),
      rgb(91, 91, 91)
    ),
    url("../../public/static/images/berdua14.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.thankyou-container {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/static/images/thankyou.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slick-slide {
  padding: 0 15px;
}

.slick-list {
  margin: 0 2em;
}

.slick-initialized {
  overflow: hidden;
}

.divider {
  display: flex;
}
.divider:before,
.divider:after {
  content: "";
  flex: 1;
}

.glow:before,
.glow:after {
  height: 6px;
  -webkit-filter: blur(5px);
  border-radius: 5px;
}
.glow:before {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(132, 132, 129));
}
.glow:after {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(132, 132, 129));
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before,
.line:after {
  height: 10px;
  margin: 0 1em 0;
}
